@model IEnumerable<NewsAnalizer.Core.DataTransferObjects.NewsWithRssSourceNameDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Aggregate">Aggregate</a>
</p>

<div class="row justify-content-around">
    @foreach (var item in Model)
    {
    
    <div class="col-sm-12 col-md-6 col-lg-4 ">
        <div class="bordered preview-block">
            <h5>@Html.Raw(item.Title)</h5>
            <span class="row justify-content-end"> @item.NewsDate.ToString("dd-MM-yyyy H:m")</span>

            <div class="fit-image">
                @Html.Raw(item.Summary)
            </div>
            <div class="col-11 bottom-pane">
                <a class="col-6 left-nav" href="@item.Url">Read here</a>
                <a class="col-6 right-nav" href="@item.Url">Read on @item.RssSourceName</a>
            </div>
        </div>
    </div>
    
    }
</div>