@model NewsAnalyzer.Models.View.NewsViewModel

<div class="col-sm-12 col-md-6 col-lg-4 ">
    <div class="bordered preview-block">
        <h5>@Html.Raw(Model.Title)</h5>
        <span class="row justify-content-end"> @Model.NewsDate.ToString("dd-MM-yyyy H:m")</span>

        <div class="fit-image">
            @Html.Raw(Model.Summary)
        </div>
        <div class="col-11 bottom-pane">
            <a class="col-6 left-nav" href="@Model.Url">Read here</a>
            <a class="col-6 right-nav" href="@Model.Url">Read on @Model.RssSourceName</a>
        </div>
    </div>
</div>